<div class="container text-center my-5">
  <img src="assets/images/avatar.jpg" alt="Cassio Moreira" class="rounded-circle mb-3" width="150" height="150" />
  <h1 class="mb-2">Cassio Moreira</h1>
  <h3 class="text-primary mb-3">Desenvolvedor Fullstack Java & Angular</h3>
  <p class="lead mb-4">
    Transformo ideias em soluções escaláveis com Java, Spring Boot, Angular e metodologias ágeis.
  </p>
  <div class="d-flex justify-content-center gap-3 mb-4">
    <button class="btn btn-primary" (click)="openPdf()">Ver Currículo</button>
    <a href="/projetos" class="btn btn-outline-primary">Ver Projetos</a>
  </div>
  <div class="technologies mb-4">
    <img src="assets/svg/java.svg" alt="Java" width="40" class="mx-2" />
    <img src="assets/svg/spring.svg" alt="Spring" width="40" class="mx-2" />
    <img src="assets/svg/angular.svg" alt="Angular" width="40" class="mx-2" />
    <img src="assets/svg/git.svg" alt="Git" width="40" class="mx-2" />
  </div>
</div>
