<div class="skills-container">
  <section class="hard-skills">
    <h2>Hard Skills</h2>
    <ul>
      <li>Desenvolvimento Web Angular (Udemy)</li>
      <li>Desenvolvimento Java com Spring (Udemy, Loianne Gronner)</li>
      <li>Fundamentos de tecnologia para atendimento ao cliente (IBM SkillsBuild, Programa Match)</li>
      <li>Versionamento de Código com Git e GitHub (DIO)</li>
    </ul>
  </section>

  <section class="soft-skills">
    <h2>Soft Skills</h2>
    <ul>
      <li>Trabalho em equipe</li>
      <li>Comunicação eficaz</li>
      <li>Resolução de problemas</li>
      <li>Adaptabilidade</li>
      <li>Organização e gestão do tempo</li>
      <li>Comprometimento com o aprendizado contínuo</li>
    </ul>
  </section>
</div>
