<div class="container resume-container my-4">
  <header
    class="text-center mx-auto"
    style="font-family: Arial, sans-serif"
  >
    <h1 class="mb-2 fs-3 fs-md-1">CASSIO MOREIRA DE SOUZA</h1>
    <p>38 anos, residência em Sobradinho – DF</p>
    <p>
      <img
        src="assets/svg/whatsapp-icon-logo-svgrepo-com.svg"
        alt="WhatsApp"
        width="20"
        class="align-middle me-2"
      />
      <a
        href="https://wa.me/5561992146651"
        target="_blank"
        class="text-decoration-none text-reset"
      >
        (61)99214-6651
      </a>
    </p>
    <p>
      <img
        src="assets/svg/email-1-svgrepo-com.svg"
        alt="Email"
        width="20"
        class="align-middle me-2"
      />
      <a
        href="mailto:cassio00710@hotmail.com"
        class="text-decoration-none text-reset"
      >
        cassio00710&#64;hotmail.com
      </a>
    </p>
    <p>
      <img
        src="assets/svg/linkedin-svgrepo-com.svg"
        alt="LinkedIn"
        width="20"
        class="align-middle me-2"
      />
      <a
        href="https://www.linkedin.com/in/cassiodf-moreira-ti"
        target="_blank"
        class="text-decoration-none text-reset"
      >
        www.linkedin.com/in/cassiodf-moreira-ti
      </a>
    </p>
    <p>
      <img
        src="assets/svg/github-color-svgrepo-com.svg"
        alt="GitHub"
        width="20"
        class="align-middle me-2"
      />
      <a
        href="https://github.com/cassio202021041"
        target="_blank"
        class="text-decoration-none text-reset"
      >
        github.com/cassio202021041
      </a>
    </p>
  </header>

  <!-- Botões para abrir e baixar PDF -->
  <div class="d-flex flex-column flex-md-row gap-3 my-3 justify-content-center align-items-center">
    <button class="btn btn-primary" (click)="openPdf()">Abrir Currículo</button>
    <a
      class="btn btn-secondary"
      href="assets/svg/Cassio_Moreira_Dev_Pro.pdf"
      download="Cassio_Moreira_Dev_Pro.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Baixar Currículo
    </a>
  </div>

  <section class="mx-auto px-2 px-md-4" style="max-width: 800px;">
    <h2 class="fs-5 fs-md-4">OBJETIVO</h2>
    <p>
      Atualmente atuo como desenvolvedor Fullstack, com experiência em
      desenvolvimento utilizando PHP com o framework Yii e Angular e ReactJs.
      Trabalho seguindo metodologias ágeis, possuo familiaridade com
      versionamento de código utilizando Git. Além disso, possuo conhecimento em
      ferramentas de gerenciamento e organização tal como Jira e Monday. Durante
      minha graduação, desenvolvi uma sólida base em conceitos fundamentais,
      como desenvolvimento de software e gestão de sistemas, o que me capacita a
      abordar problemas complexos com uma visão técnica bem fundamentada. Sou
      movido pela paixão por tecnologia e programação, e busco constantemente
      aprimorar minhas habilidades, explorando novas tecnologias e participando
      de projetos desafiadores. Meu objetivo é integrar uma equipe dinâmica e
      colaborativa onde eu possa aplicar meu conhecimento técnico, contribuir
      para o desenvolvimento de soluções inovadoras e continuar evoluindo como
      profissional. Com minha motivação, comprometimento e desejo de aprender,
      acredito que posso ser um membro valioso em projetos de tecnologia e
      desenvolvimento de software.
    </p>
  </section>

  <section class="mx-auto px-2 px-md-4" style="max-width: 800px;">
    <h2 class="fs-5 fs-md-4">FORMAÇÃO</h2>
    <ul>
      <li>Formado em Sistemas de Informação no ano de 2024</li>
    </ul>
  </section>

  <section class="mx-auto px-2 px-md-4" style="max-width: 800px;">
    <h2 class="fs-5 fs-md-4">HABILIDADES</h2>
    <ul>
      <li>Desenvolvimento Web Angular</li>
      <li>Desenvolvimento Web React com NextJs</li>
      <li>Desenvolvimento Java com Spring (Udemy, Loianne Gronner, DIO)</li>
      <li>Versionamento de Código com Git e GitHub (DIO)</li>
      <li>Curso PHP básico ao avançado (Udemy)</li>
    </ul>
  </section>
  <section class="mx-auto px-2 px-md-4" style="max-width: 800px;">
    <h2 class="fs-5 fs-md-4">EXPERIÊNCIAS PROFISSIONAIS</h2>
    <h3>Uitec</h3>
    <div>
      <h4>Desenvolvedor Fullstack</h4>
      <ul>
        <li>
          Desenvolvimento de aplicações web utilizando PHP com o framework Yii e
          Angular
        </li>
        <li>
          Desenvolvimento de aplicações web utilizando PHP com o framework Yii e
          React NexrJs
        </li>
        <li>Familiaridade com versionamento de código utilizando Git</li>
        <li>
          Conhecimento em ferramentas de gerenciamento e organização, como
          Kanban, Jira e Monday
        </li>
      </ul>
    </div>
  </section>

  <section class="mx-auto px-2 px-md-4" style="max-width: 800px;">
    <h2 class="fs-5 fs-md-4">PERFIL PROFISSIONAL</h2>
    <p>
      Durante minha graduação, desenvolvi uma sólida base em conceitos
      fundamentais, como desenvolvimento de software e gestão de sistemas, o que
      me capacita a abordar problemas complexos com uma visão técnica bem
      fundamentada. Sou movido pela paixão por tecnologia e programação, e busco
      constantemente aprimorar minhas habilidades, explorando novas tecnologias
      e participando de projetos desafiadores.
    </p>
    <p>
      Meu objetivo é integrar uma equipe dinâmica e colaborativa onde eu possa
      aplicar meu conhecimento técnico, contribuir para o desenvolvimento de
      soluções inovadoras e continuar evoluindo como profissional. Com minha
      motivação, comprometimento e desejo de aprender, acredito que posso ser um
      membro valioso em projetos de tecnologia e desenvolvimento de software.
    </p>
  </section>
</div>
