<div class="resume-container">
  <header>
    <h1>CASSIO MOREIRA DE SOUZA</h1>
    <p>Brasileiro, Casado, 37 anos, residência em Sobradinho – DF</p>
    <p><strong>Telefone:</strong> (61) 99214-6651</p>
    <p><strong>Email:</strong> <a href="mailto:cassio00710@hotmail.com">cassio00710&#64;hotmail.com</a></p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/cassiodf-moreira-ti" target="_blank">www.linkedin.com/in/cassiodf-moreira-ti</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/cassio202021041" target="_blank">github.com/cassio202021041</a></p>
  </header>

  <section class="objective">
    <h2>OBJETIVO</h2>
    <p>Busco oportunidade na área de Tecnologia da Informação para aplicar meus conhecimentos técnicos e contribuir para o crescimento da empresa. Comprometo-me a aprender e desenvolver continuamente minhas habilidades, visando alcançar resultados eficazes e colaborar para o sucesso da equipe.</p>
  </section>

  <section class="education">
    <h2>FORMAÇÃO</h2>
    <ul>
      <li>Cursando 7º semestre de Sistemas de Informação.</li>
    </ul>
  </section>

  <section class="skills">
    <h2>HABILIDADES</h2>
    <ul>
      <li>Desenvolvimento Web Angular (Udemy)</li>
      <li>Desenvolvimento Java com Spring (Udemy, Loianne Gronner)</li>
      <li>Fundamentos de tecnologia para atendimento ao cliente Desenvolvimento Web (IBM SkillsBuild, Programa Match)</li>
      <li>Versionamento de Código com Git e GitHub (DIO)</li>
    </ul>
  </section>

  <section class="experience">
    <h2>EXPERIÊNCIAS PROFISSIONAIS</h2>
    <h3>Auxiliar - Estilo Animal Pet (2016 - 2024)</h3>
    <ul>
      <li>Atendimento ao público,</li>
      <li>Manutenção e configuração da rede local, garantindo seu funcionamento,</li>
      <li>Configuração e manutenção de computadores, assegurando seu desempenho,</li>
      <li>Suporte técnico, incluindo serviços remotos e configuração de máquinas de exames.</li>
    </ul>
  </section>

  <section class="profile">
    <h2>PERFIL PROFISSIONAL</h2>
    <p>“Como aluno de programação, possuo um forte compromisso com o aprendizado contínuo e a adaptação a novas ferramentas e metodologias. Tenho conhecimentos técnicos que me permitem entregar resultados e estou em busca da minha primeira oportunidade na área da programação para ganhar experiência e aplicar meus conhecimentos na prática.”</p>
  </section>
</div>

