<div class="resume-container">
  <header style="font-family: Arial, sans-serif; max-width: 600px; margin: auto;">
    <h1 style="margin-bottom: 8px;">CASSIO MOREIRA DE SOUZA</h1>
    <p>Brasileiro, Casado, 37 anos, residência em Sobradinho – DF</p>
    <p>
      <img src="assets/svg/whatsapp-icon-logo-svgrepo-com.svg" alt="WhatsApp" width="20" style="vertical-align: middle; margin-right: 8px;" />
      <a href="https://wa.me/5561992146651" target="_blank" style="text-decoration: none; color: inherit;">
        (61) 99214-6651
      </a>
    </p>
    <p>
      <img src="assets/svg/email-1-svgrepo-com.svg" alt="Email" width="20" style="vertical-align: middle; margin-right: 8px;" />
           <a href="mailto:cassio00710@hotmail.com" style="text-decoration: none; color: inherit;">
        cassio00710&#64;hotmail.com
      </a>
    </p>
    <p>
      <img src="assets/svg/linkedin-svgrepo-com.svg" alt="LinkedIn" width="20" style="vertical-align: middle; margin-right: 8px;" />

      <a href="https://www.linkedin.com/in/cassiodf-moreira-ti" target="_blank" style="text-decoration: none; color: inherit;">
        www.linkedin.com/in/cassiodf-moreira-ti
      </a>
    </p>
    <p>
      <img src="assets/svg/github-color-svgrepo-com.svg" alt="GitHub" width="20" style="vertical-align: middle; margin-right: 8px;" />

      <a href="https://github.com/cassio202021041" target="_blank" style="text-decoration: none; color: inherit;">
        github.com/cassio202021041
      </a>
    </p>
  </header>

  <section class="objective">
    <h2>OBJETIVO</h2>
    <p>
      Sou formado em Sistemas de Informação e atualmente atuo como Trainee
      Fullstack, com experiência em desenvolvimento utilizando PHP com o
      framework Yii e Angular. Trabalho seguindo metodologias ágeis, como o
      Scrum, e tenho familiaridade com versionamento de código utilizando Git.
      Além disso, possuo conhecimento em ferramentas de gerenciamento e
      organização, como Kanban, Jira e Monday. Durante minha graduação,
      desenvolvi uma sólida base em conceitos fundamentais, como desenvolvimento
      de software e gestão de sistemas, o que me capacita a abordar problemas
      complexos com uma visão técnica bem fundamentada. Sou movido pela paixão
      por tecnologia e programação, e busco constantemente aprimorar minhas
      habilidades, explorando novas tecnologias e participando de projetos
      desafiadores. Meu objetivo é integrar uma equipe dinâmica e colaborativa
      onde eu possa aplicar meu conhecimento técnico, contribuir para o
      desenvolvimento de soluções inovadoras e continuar evoluindo como
      profissional. Com minha motivação, comprometimento e desejo de aprender,
      acredito que posso ser um membro valioso em projetos de tecnologia e
      desenvolvimento de software.
    </p>
  </section>

  <section class="education">
    <h2>FORMAÇÃO</h2>
    <ul>
      <li>Formado em Sistemas de Informação no ano de 2024</li>
    </ul>
  </section>

  <section class="skills">
    <h2>HABILIDADES</h2>
    <ul>
      <li>Desenvolvimento Web Angular (Udemy)</li>
      <li>Desenvolvimento Java com Spring (Udemy, Loianne Gronner, DIO )</li>
      <li>
        Fundamentos de tecnologia para atendimento ao cliente Desenvolvimento
        Web (IBM SkillsBuild, Programa Match)
      </li>
      <li>Versionamento de Código com Git e GitHub (DIO)</li>
      <li>Curso PHP básico ao avançado (Udemy)</li>
    </ul>
  </section>

  <section class="experience">
    <h2>EXPERIÊNCIAS PROFISSIONAIS</h2>
    <h3>Uitec</h3>
    <div>
      <h2>Trainee Fullstack</h2>
      <ul>
        <li>
          Desenvolvimento de aplicações web utilizando PHP com o framework Yii e
          Angular
        </li>
        <li>Trabalho seguindo metodologias ágeis, como o Scrum</li>
        <li>Familiaridade com versionamento de código utilizando Git</li>
        <li>
          Conhecimento em ferramentas de gerenciamento e organização, como
          Kanban, Jira e Monday
        </li>
      </ul>
    </div>
    <div>
      <h2>Trainee Scrum Master</h2>
      <ul>
        <li>
          Facilito as cerimônias ágeis do time, como Daily, Planning, Review e
          Retrospective, sempre focando em tornar as reuniões objetivas e
          alinhadas com os objetivos do time.
        </li>
        <li>
          Atuo ativamente na remoção de impedimentos que impactam o andamento
          das sprints, ajudando a manter o fluxo de trabalho fluindo e buscando
          soluções junto a outras áreas quando necessário.
        </li>
        <li>
          Dou suporte constante à equipe, incentivando a auto-organização e a
          colaboração. Compartilho conhecimentos sobre métodos ágeis e boas
          práticas para o time evoluir continuamente.
        </li>
        <li>
          Trabalho em parceria com o Product Owner para garantir que o backlog
          esteja bem estruturado e priorizado, contribuindo para que as entregas
          estejam alinhadas às necessidades do negócio.
        </li>
        <li>
          Promovo um ambiente de trabalho colaborativo e respeitoso, onde todos
          os membros da equipe se sintam à vontade para compartilhar ideias e
          feedbacks.
        </li>
      </ul>
    </div>
  </section>

  <section class="profile">
    <h2>PERFIL PROFISSIONAL</h2>
    <p>
      Durante minha graduação, desenvolvi uma sólida base em conceitos
      fundamentais, como desenvolvimento de software e gestão de sistemas, o que
      me capacita a abordar problemas complexos com uma visão técnica bem
      fundamentada. Sou movido pela paixão por tecnologia e programação, e busco
      constantemente aprimorar minhas habilidades, explorando novas tecnologias
      e participando de projetos desafiadores.
    </p>
    <p>
      Meu objetivo é integrar uma equipe dinâmica e colaborativa onde eu possa
      aplicar meu conhecimento técnico, contribuir para o desenvolvimento de
      soluções inovadoras e continuar evoluindo como profissional. Com minha
      motivação, comprometimento e desejo de aprender, acredito que posso ser um
      membro valioso em projetos de tecnologia e desenvolvimento de software.
    </p>
  </section>
</div>
