<div class="resume-container">
  <header>
    <h1>CASSIO MOREIRA DE SOUZA</h1>
    <p>Brasileiro, Casado, 37 anos, residência em Sobradinho – DF</p>
    <p><strong>Telefone:</strong> (61) 99214-6651</p>
    <p><strong>Email:</strong> <a href="mailto:cassio00710@hotmail.com">cassio00710&#64;hotmail.com</a></p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/cassiodf-moreira-ti" target="_blank">www.linkedin.com/in/cassiodf-moreira-ti</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/cassio202021041" target="_blank">github.com/cassio202021041</a></p>
  </header>

  <section class="objective">
    <h2>OBJETIVO</h2>
<p>
  Sou formado em Sistemas de Informação e atualmente atuo como Trainee Fullstack, com experiência em desenvolvimento utilizando PHP com o framework Yii e Angular. Trabalho seguindo metodologias ágeis, como o Scrum, e tenho familiaridade com versionamento de código utilizando Git. Além disso, possuo conhecimento em ferramentas de gerenciamento e organização, como Kanban, Jira e Monday.

  Durante minha graduação, desenvolvi uma sólida base em conceitos fundamentais, como desenvolvimento de software e gestão de sistemas, o que me capacita a abordar problemas complexos com uma visão técnica bem fundamentada. Sou movido pela paixão por tecnologia e programação, e busco constantemente aprimorar minhas habilidades, explorando novas tecnologias e participando de projetos desafiadores.

  Meu objetivo é integrar uma equipe dinâmica e colaborativa onde eu possa aplicar meu conhecimento técnico, contribuir para o desenvolvimento de soluções inovadoras e continuar evoluindo como profissional. Com minha motivação, comprometimento e desejo de aprender, acredito que posso ser um membro valioso em projetos de tecnologia e desenvolvimento de software.</p>  </section>

  <section class="education">
    <h2>FORMAÇÃO</h2>
    <ul>
      <li>Formado em Sistemas de Informação no ano de 2024</li>
    </ul>
  </section>

  <section class="skills">
    <h2>HABILIDADES</h2>
    <ul>
      <li>Desenvolvimento Web Angular (Udemy)</li>
      <li>Desenvolvimento Java com Spring (Udemy, Loianne Gronner)</li>
      <li>Fundamentos de tecnologia para atendimento ao cliente Desenvolvimento Web (IBM SkillsBuild, Programa Match)</li>
      <li>Versionamento de Código com Git e GitHub (DIO)</li>
    </ul>
  </section>

  <section class="experience">
    <h2>EXPERIÊNCIAS PROFISSIONAIS</h2>
    <h3>Uitec</h3>
    <h2>Trainee Fullstack</h2>
    <ul>
      <li>Desenvolvimento de aplicações web utilizando PHP com o framework Yii e Angular</li>
      <li>Trabalho seguindo metodologias ágeis, como o Scrum</li>
      <li>Familiaridade com versionamento de código utilizando Git</li>
      <li>Conhecimento em ferramentas de gerenciamento e organização, como Kanban, Jira e Monday</li>

    </ul>
  </section>

  <section class="profile">
    <h2>PERFIL PROFISSIONAL</h2>
    <p>Durante minha graduação, desenvolvi uma sólida base em conceitos fundamentais, como desenvolvimento de software e gestão de sistemas, o que me capacita a abordar problemas complexos com uma visão técnica bem fundamentada. Sou movido pela paixão por tecnologia e programação, e busco constantemente aprimorar minhas habilidades, explorando novas tecnologias e participando de projetos desafiadores.</p>
    <p>Meu objetivo é integrar uma equipe dinâmica e colaborativa onde eu possa aplicar meu conhecimento técnico, contribuir para o desenvolvimento de soluções inovadoras e continuar evoluindo como profissional. Com minha motivação, comprometimento e desejo de aprender, acredito que posso ser um membro valioso em projetos de tecnologia e desenvolvimento de software.</p>
  </section>
</div>

