<mat-toolbar class="footer bg-light d-flex justify-content-center">

  <div class="w-100 d-flex flex-column align-items-center justify-content-center">
    <span class="text-muted mb-2">Cassio Moreira de Souza 2025</span>
    <div class="technologies mb-4 d-flex flex-wrap justify-content-center">
      <img src="assets/svg/java.svg" alt="Java" width="40" class="mx-2 my-1" />
      <img src="assets/svg/spring.svg" alt="Spring" width="40" class="mx-2 my-1" />
      <img src="assets/svg/angular.svg" alt="Angular" width="40" class="mx-2 my-1" />
      <img src="assets/svg/git.svg" alt="Git" width="40" class="mx-2 my-1" />
    </div>
  </div>

</mat-toolbar>
