<section class="skills mt-4">
  <h2>HABILIDADES</h2>
  <ul>
    <li>Desenvolvimento Web Angular 2 </li>
    <li>Desenvolvimento Java com Spring</li>
    <li>Fundamentos de tecnologia para atendimento ao cliente Desenvolvimento Web</li>
    <li>Versionamento de Código com Git e GitHub </li>
    <li>PHP puro, Laravel, YII 2 </li>
    <li>metodologia Agil, Scrum, Kanban, Jira</li>
    <li>React, Next, JavaScript </li>
    <li>Banco de dados relacional SQL</li>
  </ul>
</section>

<section class="courses mt-4">
  <h2>CURSOS</h2>
  <ul>
    <li>Desenvolvimento Web Angular – Udemy, 2024</li>
    <li>Desenvolvimento Web Angular Avançado – Udemy, 2025</li>
    <li>Desenvolvimento Java com Spring – Udemy (Loiane Groner), 2024</li>
    <li>PHP Básico – Udemy, 2024</li>
    <li>Banco de dados relacional SQL – Udemy, 2025</li>
    <li>Fundamentos de Tecnologia para Atendimento ao Cliente – IBM SkillsBuild (Programa Match), 2024</li>
    <li>Versionamento de Código com Git e GitHub – DIO, 2024</li>
  </ul>
</section>
