<mat-sidenav-container class="container d-flex w-100 vh-100 position-absolute">
  <mat-sidenav class="sidenav" mode="side" opened
 fixedInViewport="true" fixedTopGap="64">
 <img class="logo" src="../../../../../assets/logo.png" alt="logo">
      <mat-nav-list class="nav-list" >
          <a mat-list-item  routerLink="/skills">
              <i class="material-icons">
                  home
              </i>
              Skills
          </a>
          <a mat-list-item routerLink="/alunos">
              <i class="material-icons">
                  groups
              </i>Cursos
         </a>

         <a mat-list-item routerLink="/curriculo">
          <i class="material-icons">
              lock
          </i>Curriculo
     </a>
     <a mat-list-item routerLink="/">
      <i class="material-icons">
          groups
      </i>Inicio
 </a>


           </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content">
         <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>
